@font-face {
  src: url(./fonts/Mattone-150.otf);
  font-family: Mattone;
}

@font-face {
  font-family: Fantome;
  src: url(./fonts/Fantome/Fantome-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mattone {
  font-family: Mattone;
}

.fantome {
  font-family: Fantome;
}

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(236, 236, 229);
}

.navbar { 
  text-align: center;
  border-bottom: 2px solid black;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.burger-menu {
  width: 50px;
  height: 40px;
  position: relative;
  left: 30vw;
  cursor: pointer;
}

.burger-menu:before, .burger-menu:after {
  content: '';
  width: 40px;
  height: 4px;
  position: absolute;
  background: #1a1a1a;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger-menu:before {
  transform: translateY(9px);
}

.burger-menu:after {
  transform: translateY(23px);
}

.main-content {
  display: flex;
}

.feelings {
  border-right: 2px solid black;
  height: 80vh;
  width: 20vw;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.feelings-content {
  position: relative;
}

.feelings-content h2 {
  font-size: 12vh;
  transform:  rotate(-180deg);
  position: absolute;
  left: 4vw;
  bottom: 0;
  margin-bottom: 4vh;
}

.feelings-content span {
  margin-top: 3rem;
}

.main-img{
  border-right: 2px solid black;
  width: 45vw;
  height: 80vh;
}

.main-img img {
  height: 80vh;
  width: 45vw;
  object-fit: cover;
}

.preorder {
  width: 35vw;
  height: 40vh;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-top: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/trait-site-ben.svg);
  background-repeat: no-repeat;
  background-position: 25% 45%;
  background-size: 30vw;
}

.preorder p {
  margin-right: 4rem;
}

.arrow {
  display: block;
  margin: 30px 45px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(135deg);
}

.arrow::after{
  content: "";
  display: block;
  width: 1px;
  height: 85px;
  background-color: black;
  transform: rotate(-45deg) translate(30px, 12px);
  left: 0;
  top: 0;
}

.smallpic{
  width: 45vw;
  height: 27vh;
  border: 2px solid black;
  border-right: none;
  background-image: url(./assets/love-dress-white-02.jpeg);
  background-position: center;
  background-size: 100%;
  position: absolute;
  right: 0;
  bottom: 56vh;
}

.socials {
  font-family: 'Poppins', sans-serif;
  width: 64.9vw;
  border-top: 2px solid black;
  border-right: 1px solid black;
  height: 10vh;
}

.socials ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.socials li {
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 35vw;
  border-top: 2px solid black;
  border-left: 1px solid black;
}

.copyright p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
}
